.coupon-section {
  padding: 5px;
  margin: 5%;
}
.coupon {
  border: 3px dashed #bcbcbc;
  border-radius: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  #head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 56px;
  }
  #footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

#title .visible-xs {
  font-size: 12px;
}

.coupon #title {
  img {
    font-size: 30px;
    height: 30px;
    margin-top: 5px;
  }
  span {
    float: right;
    margin-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 500px) {
  .coupon #title img {
    height: 15px;
  }
}

.coupon-img {
  width: 100%;
  margin-bottom: 15px;
  padding: 0;
}

.items {
  margin: 15px 5px 0 0;
}

.usd {
  font-size: 30px;
}

.cents {
  font-size: 30px;
  margin-right: 5px;
}

.number {
  font-size: 40px;
  font-weight: 200;
}

sup {
  top: -15px;
}

#business-info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  li {
    display: inline;
    text-align: center;
    span {
      text-decoration: none;
      padding: .2em 1em;
      i {
        padding-right: 5px;
      }
    }
  }
}

.disclosure {
  padding-top: 15px;
  font-size: 11px;
  color: #bcbcbc;
  text-align: center;
}

.coupon-code {
  color: #333333;
  font-size: 11px;
}

.exp {
  color: #f34235;
}

.print {
  font-size: 14px;
  float: right;
}